:root {
    --gray:#333 ;
--button: rgb(46, 46, 198);
--white: rgb(255, 255, 255);
}

body{font-family: "Roboto";}
header{color: rgb(255, 255, 255);}

.logo-header{   color: black;
 font-size: 23px; 
 text-decoration: none; 
font-family:"Raleway";}



 button:hover {
    background-color:var(--button);
    transition: 0.7s;
    text-decoration: none;
}


 .logo-footer{color: var(--white);
    font-size: 23px;
    text-decoration: none; 
font-family: "Raleway";
}


    footer{background-color: var(--gray);}
    .footer-link{color: var(--white);}
    .footer-item{color: var(--gray);}
    .gmail-footer{color: var(--white);}
    .tel-footer{color:var(--white) ;}